html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1{
    font-size: 64px;
}